<p id="notice"><%= notice %></p>

<h1>Users</h1>
<div ng-controller = "index_user_data as settings">
<table class="col-md-12">
  <thead>
    <tr>
      <th class="col-md-2">First Name</th>
      <th class="col-md-2">Last Name</th>
      <th class="col-md-2">Age</th>
      <th class="col-md-2">Gender</th>
      <th colspan="4" class="col-md-4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="col-md-2"><%= user.firstname %></td>
        <td class="col-md-2"><%= user.lastname %></td>
        <td class="col-md-2"><%= user.age %></td>
        <td class="col-md-2"><%= user.gender %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><a href="JavaScript:void(0);" ng-click="get_user_data('<%= user.id %>')" >Angular Edit User</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
  
  <a href="JavaScript:void(0);" ng-click="showview=true;" >New User</a>
  <div>
    <span>Total</span>  
    {{usercount}} Member
  </div>
  <div ng-show="showview" class="view-animate-container "style="width: 250px;">
  <div new-user class="view-animate"></div>  
  </div>
  <div class="view-animate-container "style="width: 250px;">    
  <div  ng-include="template" class="view-animate"></div>    
  </div>
</div>

